/*------------------------------------*\
    _footer.scss
\*------------------------------------*/

footer {
  background: $dark-blue;
  color: $white;
  min-height: 240px;
  font-size: 18px;
  line-height: 1.3em;
  padding-bottom: 20px;
  @include phone {
    min-height: 100%;
  }
  .widget {
    margin-left: auto;
    margin-right: auto;
    padding: 0 35px;
    max-width: 1280px;
    @include tablet {
      margin: 15px 0px;
      padding: 0 25px;
    }
    .logo {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 40px;
      @include phone {
        max-width: 260px;
        margin: 10px 0px;
        width: 100%;
      }
    }
    .phone {
      font-size: 15px;
      white-space: nowrap;
      a {
        font-family: $sans-serif;
        color: $white;
        font-size: 16px;
      }
    }
    .fax {
      font-size: 15px;
      white-space: nowrap;
      span {
        font-family: $sans-serif;
        font-size: 16px;
      }
    }
    .address {
      font-size: 15px;
      white-space: nowrap;
    }
    .email {
      font-size: 15px;
      ;
      white-space: nowrap;
      a {
        font-family: $sans-serif;
        font-size: 16px;
      }
    }
    p {
      margin: 0;
    }
    a {
      color: $white;
    }
    .copyright {
      font-size: 14px;
      color: #d8d8d8;
      text-align: left;
      font-size: 14px;
      @include tablet {
        display: none;
      }
      &:after {
        content: '|';
        margin: 0 6px 0 10px;
      }
      &:hover {
        a {
          color: #b2d1ff;
          text-decoration: underline;
        }
      }
    }
    .copyright-link {
      font-size: 14px;
      color: #e0e0e0;
      text-align: left;
      font-size: 14px;
      @include tablet {
        display: none;
      }
      &:hover {
        a {
          color: #b2d1ff;
          text-decoration: underline;
        }
      }
    }
    .feedback {
      display: block;
      text-align: center;
      font-size: 15px;
      color: #e0e0e0;
      padding: 15px 0px;
      text-align: left;
      @include tablet {
        display: none;
      }
      a {
        color: #b2d1ff;
      }
    }
  }
}

//breakpoint 990px
.contact-footer {}

.contact-address {}

@media screen and (min-width: 990px) {
  .contact-address {
    padding-left: 50px;
  }
}

@media screen and (max-width: 990px) {
  .contact-address {
    padding-top: 15px;
  }
}


.top-footer-section {
  float: left;
  padding: 0px 15px 15px 15px;
}

.bottom-footer-section {
  float: left;
  padding-left: 30px;
  padding: 0px 15px;
  @include min-tablet {
    padding-left: 75px;
  }
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
