/*------------------------------------*\
    _header.scss
\*------------------------------------*/

.navbar {
  background-color: $brand-primary;
  .container {
    >.navbar-header {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.navbar-brand {
  padding: 0px;
}

.navbar-header {
  a {
    color: $white;
    @include tablet {
      padding: 0px;
    }
  }
}

.divider-rule {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(255, 255, 255, .25);
  z-index: 1;
  opacity: .99;
}




//Responsive logo for mobile
@media (max-width: 320px) and (min-width: 0px) {
  .navbar-brand img {
    max-width: 220px !important;
  }
}

//Responsive logo for mobile
@media (max-width: 768px) and (min-width: 321px) {
  .navbar-brand img {
    max-width: 280px !important;
    top: 12px !important;
  }
}


//Responsive logo for mobile
@media (max-width: 1280px) and (min-width: 768px) {
  .navbar-brand img {
    max-width: 360px !important;
    top: 10px !important;
  }
}





/*------------------------------------*\
  Responsive: 1280px - Infinity
\*------------------------------------*/

@include min-1280px {
  .navbar-header {
    padding-top: 18px;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    font-size: 12px;
    letter-spacing: .1em;
    margin-bottom: 0;
    .container {
      width: $medium-container-width;
      padding-left: 0;
      padding-right: 0;
      .navbar-brand {
        margin-left: 15px;
      }
    }
  }
  .nav {
    li {
      position: static;
    }
    >.menu-item {
      >a {
        border-top: 3px solid rgba(255, 255, 255, 0);
        font-family: $sans-serif;
        text-transform: uppercase;
        &:hover {
          border-top: 3px solid $ucla-gold !important;
          font-family: $sans-serif !important;
        }
      }
      &.open {
        >a {
          border-top-color: $white;
        }
        .dropdown-menu {
          z-index: 2000;
        }
      }
      &.active {
        >a {
          border-top: 3px solid $white;
          font-family: $sans-serif;
          color: $white;
        }
      }
    }
    .open,
    >li {
      >a,
      >a:hover,
      >a:focus {
        background-color: transparent;
        padding: 10px 24px;
      }
      >a:hover {
        color: $ucla-gold;
        font-family: $sans-serif;
      }
    }
    .caret {
      display: none;
    }
  }
  .active,
  .current-menu-ancestor {
    >.dropdown-menu {
      display: block;
    }
  }
  .current-menu-ancestor {
    >a {
      border-top: 3px solid $white !important;
      color: $white;
      font-family: $sans-serif;
    }
  }
  .current-menu-ancestor,
  .active,
  .open {
    >.dropdown-menu {
      width: 100%;
    }
  }
  .menu-item {
    &:hover {}
    &.active {
      // border-top: 3px solid $ucla-gold;
      >a,
      >a:hover,
      >a:focus {
        color: $ucla-gold;
        font-family: $sans-serif;
      }
    }
  }
  .dropdown-menu {
    background-color: $ucla-blue;
    padding: 0;
    font-size: 15px;
    letter-spacing: .0625em;
    border-radius: 0;
    border: none !important;
  }
  .dropdown-nav-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $medium-container-width;
    .dropdown-nav-wrapper {
      width: auto;
    }
    li {
      display: inline-block;
      position: relative;
      .dropdown-menu {
        width: auto;
        white-space: nowrap;
        border-radius: 0;
        position: absolute;
        top: 44px;
        left: 0;
        border-top: 3px solid rgba(255, 255, 255, 0);
        a {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      &:hover {
        .dropdown-menu {
          display: inline-block;
        }
      }
      a {
        display: inline-block;
        padding: 12px 15px;
        &:hover {
          color: $ucla-gold;
          font-family: $sans-serif;
        }
      }
    }
    .nested {
      li {
        display: list-item;
      }
    }
  }
  .top-nav-wrapper {
    width: 650px;
    float: right;
    padding-top: 10px;
    ul {
      float: right;
      li {
        list-style: none;
        display: inline;
        font-size: 14px;
        font-family: $sans-serif;
        text-align: right;
        a,
        a:hover,
        a:focus {
          color: $white;
          margin-right: 30px;
          border-top: none;
        }
        #home-menu-icon {
          margin-right: 10px;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}


//Mobile Responsiveness - Mixins
//max-desktop used to fix the issue with the tripple nav collapsing below 1280px. However, gives a bald spot of 80px;
@include max-1280px {
  #top-nav {
    display: none;
  }
}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {
  .navbar {
    font-size: 13px;
    .container {
      width: $large-container-width;
    }
  }
  .dropdown-menu {
    font-size: 14px;
    letter-spacing: .0625em;
  }
  .dropdown-nav-wrapper {
    width: $large-container-width;
  }
  .top-nav-wrapper {
    ul {
      li {
        font-size: 13px;
      }
    }
  }
}







/*------------------------------------*\
  Responsive Hamburger - breaks at 1280px
\*------------------------------------*/

//dropdown color
.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
}

// Desktop navbar- needs margin  bottom 15px;
// 120px - infinte
@include min-1280px {
  .navbar-brand {
    margin-bottom: 15px;
  }
}

//collapse navbar ealier
@media (min-width: 768px) and (max-width: 1280px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu>li>a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    /*margin: 7.5px -15px;*/
    margin: 7.5px 50px 7.5px -15px
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}



//code from pages.scss
//controll how the logo appears between 768px and 1199px;
// @include laptop {
//   .navbar {
//     .container {
//       width: 100%;
//       padding-left: 25px;
//       padding-right: 25px;
//       height: 50px;
//       .navbar-brand {
//         margin: 0px;
//       }
//     }
//   }
//   nav {
//     margin-top: 30px;z
//     width: 100%;
//   }
//   .divider-rule {
//     display: none;
//   }
// }
//controlling the navbar collapse dropdown- found this to be the best solution. -GS
// @include max-1280px {
//   .navbar-header {
//     img {
//       margin: 14px 0px;
//       position: absolute;
//       margin-left: 25px !important;
//     }
//   }
//   nav {
//     margin-top: 23px;
//     width: 100%;
//   }
//   .divider-rule {
//     display: none;
//   }
// }

/*------------------------------------*\
Master:  0px - 1280px
\*------------------------------------*/

//fix the dropdown alignment to have 25x on left and right up until the tablet 
@include max-1280px {
  .container {
    width: 100%;
  }
  .nav>li>a:focus,
  .nav>li>a:hover {
    background-color: #00284a;
  } //hide desktop 3rd tier dropdown
  .dropdown-nav-wrapper {
    display: none;
  }
  .navbar-header {
    img {
      //margin: 14px 0px;
      position: absolute;
      margin-left: 25px !important;
    }
  }

  nav {
    margin-top: 23px;
    width: 100%;
  }

  .divider-rule {
    display: none;
  }
  .navbar-brand {
    float: none;
    img {
      max-width: 250px;
      width: 100%;
      top: 15px;
      padding: 0;
    }
  }
  .navbar {
    .container {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  .navbar-nav {
    //gets rid of margin space on top
    margin: 0px -15px;
    li {
      a {
        padding: 10px 25px;
        padding-top: 15px;
        border-bottom: 1px solid transparent;
        box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1);
      }
    }
  }

  .navbar-toggle {
    margin-right: 25px !important;
    padding: 9px 0px !important;
  }
}

//quicklinks homepage edits
@include tablet {
  .quick-links {
    padding: 5px 0px !important;
    .center-block {
      .quicklink-content-p {
        padding: 5px 0 0;
      }
    }
  }
}


@media only screen and (min-width: 1280px) and (min-width: 768px) {
  .navbar-brand img {
    height: 50px;
    margin: 0;
    padding: 0;
  }
}
