/*------------------------------------*\
Default Page Template Styles
\*------------------------------------*/

.home {
  &.page-parent {
    .content-wrapper {
      margin-left: auto;
      margin-right: auto;
      padding: 35px;
      min-height: 560px;
      background-color: $white;
      @include max-laptop {
        padding: 20px 35px;
      }
    }
    .container-fluid {
      padding: 0;
      .content {
        &.row {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          .main {
            .home-content {
              .content-wrapper {
                .col-md-8,
                .col-md-4 {
                  padding: 30px;
                }
              }
            }
            .quick-links {
              background-color: $dark-gray;
              height: auto;
              min-height: 220px;
              padding: 40px 0;
              z-index: 900;
              position: relative;
              .page-container {
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                max-width: 1280px;
                display: block;
                div {
                  font-size: 16px;
                  color: $white;
                  padding: 10px 50px;
                  .quick-link-icon {
                    font-size: 65px;
                    padding-bottom: 20px;
                  }

                  a {
                    color: $light-blue;
                    margin-bottom: 20px;
                  }
                }
              }
            }
            .quick-links:after {
              position: absolute;
              bottom: 0px;
              left: 48%;
              content: '\25A0';
              transform: rotate(45deg);
              font-size: 125px;
              color: $dark-gray;
              @include max-desktop {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.center-block {
  @include phone {
    margin: 10px 0px;
  }
}

.center-block:hover {
  .page-container {
    div {
      color: #ffe800;
    }
  }
}

.page-template,
.page-child,
.page-parent {
  background-image: url('../images/bg-optimists-takeover.png'), linear-gradient(#003d6e 100px, #1d6092 300px);
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
  background-color: $dark-blue;
  &.wp-editor {
    background-image: none;
    background-color: $white;
  }
  .container-fluid {
    padding: 0;
  }
  .page-header {
    margin: 0;
    padding-left: 70px;
    padding-top: 35px;
    min-height: 140px;
    background: $darker-blue;
    color: $white;
    @include max-1280px {
      padding: 10px 25px !important;
      min-height: 42px !important;
    }
    h1 {
      font-family: $sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
      @include max-1280px {
        font-size: 28px;
        line-height: 30px; //margin: 10px 0px;
      }
    }
  }
  .wrap {
    .main {
      padding-left: 0;
      padding-right: 0;
      .content-wrapper {
        padding-left: 50px;
        padding-right: 50px;
        @include max-1280px {
          padding: 15px 25px;
        }
        .col-md-8,
        .col-md-4 {
          padding: 30px;
          @include max-1280px {
            padding: 0px
          }
          section {
            margin-bottom: 40px;
            @include tablet {
              margin-bottom: 25px;
            }
            h2:after {
              content: "";
            }
          }
        }
      }
    }
  }
}

//fo anchored col
.dual-col {
  padding-left: 0 !important;
  @include max-1280px {
    padding: 0px;
  }
}

.anchor_block {
  padding: 30px 0 0 0 !important;
  @include max-1280px {
    display: none;
  }
}

//QUicklinks
.quicklink-content-p {
  padding: 10px 0px 0px 0px;
  margin-bottom: 5px !important;
}

@include tablet {
  .quick-link-icon {
    font-size: 45px;
  }
}

@include phone {
  .quick-link-icon {
    font-size: 30px;
  }
}

.ql-anchor {
  color: #00a5e5 !important;
  margin-bottom: 20px;
}

.quicklink-content-p {
  color: white;
}

.quicklink-block-hover {
  &:hover {
    .quicklink-content-p,
    .quick-link-icon:before,
    .ql-anchor {
      color: #ffe800 !important;
    }
  }
}

//end quicklinks
.content-wrapper,
.page-header h1 {
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  background-color: $white;
  overflow: hidden;
}

.page-header {
  border-bottom: none;
}

.faq-heading {
  margin: 35px 0px 15px;
  font-weight: 600;
  font-family: $semibold-sans-serif;
}

//homepage 12-col-md
.padding-30px {
  padding: 30px;
  @include phone {
    padding: 15px;
  }
  @include max-laptop {
    padding: 0px 30px;
  }
}




// Extra Small Devices, Phones
@media only screen and (max-width: $small-container-width) {


  //mobile news and announcements -- Singh
  // homepage
  .home-content {
    &__news-wrapper {
      padding-right: 0px;
      &__heading {
        margin-bottom: 15px !important;
        border-bottom: 1px solid #00A5e5;
        padding-bottom: 20px;
      }
      &:last-child {
        border-bottom: none !important;
      }
      &__single {
        border-bottom: 1px solid #00A5e5;
        padding-bottom: 15px;
        margin-bottom: 35px;
        &:last-of-type {
          border-bottom: none;
        }
        &-date {
          font-size: 14px;
          color: #7a7a7a;
        }
        &-read {}
        p {
          margin-bottom: 10px !important;
          hyphens: none;
          line-height: 1.2em;
        }
        h4 {
          margin-top: 0px !important;
          font-family: $bold-sans-serif;
        }
      }
    }
    &__news-updates {
      padding: 15px 30px !important;
      border: 1px solid #00A5e5;
      margin-top: 25px;
    }
    &__intro-wrapper {
      padding-right: 25px;
    }
    &__intro-text {}

    &__button {
      padding: 10px 0px;
      text-align: center;
      font-family: $sans-serif;
      color: #0072c3!important;
      border: 1px solid #0072c3!important;
      font-size: 14px;
      &:hover {
        background: #1e4b87!important;
        color: #fee700!important;
        -webkit-transition: background-color 150ms linear;
        -ms-transition: background-color 150ms linear;
        transition: background-color 150ms linear;
      }
    }
      .ql-anchor {
    color: #2274dc !important;
    &:hover {
      color: #1e4b87 !important;
    }
  }
  }
}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {

  // homepage
  .home-content {
    &__news-wrapper {
      padding-right: 0px;
      &__heading {
        margin-bottom: 15px !important;
        border-bottom: 1px solid #00A5e5;
        padding-bottom: 20px;
      }
      &:last-child {
        border-bottom: none !important;
      }
      &__single {
        border-bottom: 1px solid #00A5e5;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &:last-of-type {
          border-bottom: none;
        }
        &-date {
          font-size: 14px;
          color: #7a7a7a;
        }
        &-read {}
        p {
          margin-bottom: 10px !important;
          hyphens: none;
          line-height: 1.2em;
        }
        h4 {
          margin-top: 0px !important;
          font-family: $bold-sans-serif;
        }
      }
    }

    &__news-updates {
      padding: 15px 30px !important;
      border: 1px solid #00A5e5;
      margin-top: 25px;
    }

    &__intro-wrapper {
      padding-right: 25px;
    }

    &__intro-text {}

    &__button {
      padding: 10px 0px;
      text-align: center;
      font-family: $sans-serif;
      color: #0072c3!important;
      border: 1px solid #0072c3!important;
      font-size: 14px;

      &:hover {
        background: #1e4b87!important;
        color: #fee700!important;
        -webkit-transition: background-color 150ms linear;
        -ms-transition: background-color 150ms linear;
        transition: background-color 150ms linear;
      }
    }
  .ql-anchor {
    color: #2274dc !important;
    &:hover {
      color: #1e4b87 !important;
    }
  }
  }
}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {
  .container {
    width: 100%;
  }
  .content-wrapper,
  .page-header h1 {
    width: $medium-container-width;
  }
  .home {
    &.page-parent {
      .content-wrapper {
        width: $medium-container-width;
      }
    }
  }
}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {
  .home {
    &.page-parent {
      .content-wrapper {
        width: $large-container-width;
      }
    }
  }
  .page-child {
    .page-header {
      padding-top: 35px;
      min-height: 140px;
    }
  }
  .content-wrapper,
  .page-header h1 {
    width: $large-container-width;
  }
}



//Mobiles
.slick-slider {
  @include phone {
    display: none;
  }
}

.anchor_block {
  @include tablet {
    display: none;
  }
}

//mobile logo
@include tablet {
  .navbar-brand {
    float: none;
    img {
      max-width: 250px;
      width: 100%; // top:  10px;
      // position:   absolute;
    }
  }
}
