/*------------------------------------*\
    Default Page Template Styles
\*------------------------------------*/
.sidebar-nav {
    list-style: none;
    padding-left: 0;
    li {
        font-size: 14px;
        font-family: $sans-serif;
        letter-spacing: .125em;
        text-transform: uppercase;
        border-top: 1px solid $light-blue;
        line-height: 1.6em;
        padding: 15px 0;
        padding-left: 50px;
        position: relative;
        &:last-child {
            border-bottom: 1px solid $light-blue;
        }
        span {
            position: absolute;
            left: 5px;
            top: 14px;
        }
        img {
            display: inline-block;
            height: 18px;
            width: 18px;
            padding-right: 5px;
            line-height: 3em;
        }
        a {
            &:hover, &:active {
                text-decoration: none;
                color: $light-blue;
            }
        }
    }
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
