//
// Global Styles
//
// 0up
body {
    font-family: $sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 16px;
    h1 {}
    h2,
    .sidebar-nav-heading {
        font-family: $semibold-sans-serif;
        font-weight: 600;
        font-size: 28px;
        color: $dark-blue;
        margin-bottom: 15px;
    }
    #sidebar-nav {
        width: 335px;
        &.fix-sidebar-nav {
            position: fixed;
            top: 50px;
            left: 50%;
            margin-left: 230px;
        }
        .sidebar-nav-heading {
            margin-top: 20px;
        }
        a {
            &:hover,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }

    }
    p {
        margin-bottom: 15px;
    }
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        left: 50%;
        margin-left: 475px;
        display: none;
        z-index: 3000;
        text-decoration: none;
        &:hover,
        &:active {
            text-decoration: none;
        }
        i {
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 10px;
            padding: 0 10px 2px;
            color: $light-blue;
            border: 3px solid $light-blue;
            border-radius: 60px;
            line-height: 1;
        }
        p {
            text-align: center;
            color: $light-blue;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
