//
// Header Styles
//
// 0up
.navbar {
    background-color: $brand-primary;
    .container {
        >.navbar-header {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.navbar-header {
    a {
        color: $white;
    }
}

.divider-rule {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid $light-blue;
    z-index: 1;
    opacity: .99;
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {
    .navbar-header {
        padding-top: 18px;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar {
        font-size: 14px;
        margin-bottom: 0;
        .container {
            width: $medium-container-width;
            min-height: 90px;
            padding-left: 0;
            padding-right: 0;
            .navbar-brand {
                margin-left: 15px;
            }
        }
    }
    .navbar-brand {
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        img {
            height: 50px;
            margin: 0;
            padding: 0;
        }
    }
    .nav {
        li {
            position: static;
        }
        >.menu-item {
            >a {
                border-top: 3px solid rgba(255, 255, 255, 0);
                font-family: $semibold-sans-serif;
                font-weight: 600;
                &:hover {
                    border-top: 3px solid $ucla-gold !important;
                    font-family: $semibold-sans-serif !important;
                    font-weight: 600;
                }
            }
            &.open {
                >a {
                    border-top-color: $white;
                }
                .dropdown-menu {
                    z-index: 2000;
                }
            }
            &.active {
                >a {
                    border-top: 3px solid $white;
                    font-family: $semibold-sans-serif;
                    font-weight: 600;
                    color: $white;
                }
            }
        }
        .open,
        >li {
            >a,
            >a:hover,
            >a:focus {
                background-color: transparent;
            }
            >a:hover {
                color: $ucla-gold;
                font-family: $sans-serif;
            }
        }
        .caret {
            display: none;
        }
    }
    .active,
    .current-menu-ancestor {
        >.dropdown-menu {
            display: block;
        }
    }
    .current-menu-ancestor {
        >a {
            border-top: 3px solid $white !important;
            color: $white;
            font-family: $semibold-sans-serif;
            font-weight: 600;
        }
    }
    .current-menu-ancestor,
    .active,
    .open {
        >.dropdown-menu {
            width: 100%;
        }
    }
    .menu-item {
        &:hover {
        }
        &.active {
            // border-top: 3px solid $ucla-gold;
            >a,
            >a:hover,
            >a:focus {
                color: $ucla-gold;
                font-family: $semibold-sans-serif;
                font-weight: 600;
            }
        }
    }
    .dropdown-menu {
        background-color: $ucla-blue;
        padding: 0;
        font-size: 14px;
        border-radius: 0;
    }
    .dropdown-nav-wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: $medium-container-width;
        .dropdown-nav-wrapper {
            width: auto;
        }
        li {
            display: inline-block;
            position: relative;
            .dropdown-menu {
                width: auto;
                white-space: nowrap;
                border-radius: 0;
                position: absolute;
                top: 44px;
                left: 0;
                border-top: 3px solid rgba(255, 255, 255, 0);
                a {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            &:hover {
                .dropdown-menu {
                    display: inline-block;
                }
            }
            a {
                display: inline-block;
                padding: 12px 10px;
                &:hover {
                    color: $ucla-gold;
                    font-family: $sans-serif;
                }
            }
        }
        .nested {
            li {
                display: list-item;
            }
        }
    }
    .top-nav-wrapper {
        width: 500px;
        float: right;
        padding-top: 10px;
        ul {
            float: right;
            li {
                list-style: none;
                display: inline;
                font-size: 14px;
                font-family: $sans-serif;
                text-align: right;
                a,
                a:hover,
                a:focus {
                    color: $white;
                    margin-right: 30px;
                    border-top: none;
                }
                #home-menu-icon {
                    margin-right: 10px;
                }
            }
            li:last-child {
                margin-right: 0;
            }
        }
    }
}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {
    .navbar {
        font-size: 16px;
        .container {
            width: $large-container-width;
        }
    }
    .dropdown-menu {
        font-size: 16px;
    }
    .dropdown-nav-wrapper {
        width: $large-container-width;
    }
    .top-nav-wrapper {
        ul {
            li {
                font-size: 16px;
            }
        }
    }
}
