//
// Default Post Template Styles
//

// 0up

// Extra Small Devices, Phones
@media only screen and (min-width : $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width : $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width : $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width : $large-container-width) {}
