//
// Global Styles
//
// 0up
h3,
.h3 {
  font-family: $semibold-sans-serif;
}

h4,
.h4 {
  font-family: $semibold-sans-serif;
}

h5,
.h5 {
  font-family: $semibold-sans-serif;
}

@include laptop {
  .fix-sidebar-nav {
    margin-left: 135px !important;
  }
}


body {
  font-family: $sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  font-size: 16px;
  h1 {}
  h2,
  .sidebar-nav-heading {
    font-family: $semibold-sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: $dark-blue;
    margin-bottom: 15px;
  }
  #sidebar-nav {
    width: 100%;
    max-width: 402px;
    &.fix-sidebar-nav {
      position: fixed;
      top: 50px;
      left: 50%;
      margin-left: 200px;
    }
    .sidebar-nav-heading {
      margin-top: 20px;
    }
  }
}

//sidebar responsive
@media screen and (min-width: 991px) and (max-width: 1280px) {

  .page-header {
    h1 {
      padding-left: 25px;
    }
  }
}

a {
  color: #2274dc;
}

a {
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

p {
  margin-bottom: 15px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: 475px;
  display: none;
  z-index: 3000;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
  }
  i {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0 10px 2px;
    color: $light-blue;
    border: 3px solid $light-blue;
    border-radius: 60px;
    line-height: 1;
  }
  p {
    text-align: center;
    color: $light-blue;
    text-decoration: none;
    text-transform: uppercase;
  }
}

strong {
  font-family: $semibold-sans-serif;
}

em {
  font-family: $italic-sans-serif;
}

ul,
ol {
  padding-left: 25px;
}

//make buttons reponsive
.button {
  white-space: normal;
}

//make navbar not have that extra margin below it
.navbar {
  margin-bottom: 0px;
  border: none;
}

.navbar-toggle {
  .icon-bar {
    background-color: white;
  }
}

//font-awesome icons
.fa-chevron-right:before {
  position: relative;
  top: 2px;
}

//page divider
.single-divider-border {
  margin: 50px 0!important;
  border-bottom: 1px solid #ddd;
  @include tablet {
    margin: 25px 0!important;
  }
}

.no-margin {
  margin: 0px !important;
}

// makes the 12 col on main nav page go from 30px to 0px when it hits 1280px just like home page. 
//Very important and is targeted for the empty-page template.
.page-template-templay-empty-page-php {
  .content-wrapper {
    .col-md-12 {
      padding: 30px 0;
      @include max-laptop {
        padding: 0px !important;
      }
    }
  }
}

.content-wrapper{
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
