// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// UCLA Colors
$ucla-blue:             #3284BF; // UCLA Blue
$ucla-gold:             #FFE800; // UCLA Gold
$dark-blue:             #1E4B87; // Secondary Palette, Dark Blue
$light-blue:            #00A5E5; // Secondary Palette, Light Blue
$gray:                  #666666; // Tertiary Palette, Gray


// Theme Specific Colors
$brand-primary:         #1E4B87; // dark blue header/footer background
$darker-blue:           #00284a; // used for sub page header backgrounds
$dark-gray:             #363636; // gray content section background
$white:                 #FFFFFF;
$link-inline:           #9edeff; // gray content link color
$link-active:           #FFE800; // UCLA Gold

// UCLA Brand Fonts
$sans-serif: 'Proxima Nova Regular', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$italic-sans-serif: 'Proxima Nova Regular Italic', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$light-sans-serif: 'Proxima Nova Light', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$semibold-sans-serif: 'Proxima Nova Semibold', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$bold-sans-serif: 'Proxima Nova Bold', 'Helvetica Neue', Helvetia, Arial, sans-serif;



//custom fonts
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fqdfp5');
  src:  url('fonts/icomoon.eot?fqdfp5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fqdfp5') format('truetype'),
    url('fonts/icomoon.woff?fqdfp5') format('woff'),
    url('fonts/icomoon.svg?fqdfp5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-download_arrow_final:before {
  content: "\e900";
  top: 3px;
  position: relative;
  font-size: 19px;

}


// Button - LK

.btn {
  border-radius: 0px !important;
  margin-bottom: 15px !important;
}
.button {
padding: 10px 15px !important;
background: white !important;
color: #0072c3 !important;
border: 1px solid #0072c3 !important;
font-size: 14px !important;
}
.button:hover {
background: #1e4b87 !important;
color: #FEE700 !important;
font-size: 14px !important;
}
.fa-external-link {
font-size: 1.25em !important;
vertical-align: -15% !important;
}

// add 20px below button


// Theme Specific Fonts

// Container Widths
$large-container-width: 1280px;
$medium-container-width: 960px;
$small-container-width: 768px;
$extra-small-container-width: 480px;

